.panel {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px 20px 20px 20px;
    background-color: rgba(220, 220, 220, 0.39);
}

.header {
    display: grid;
    grid-template-columns:3rem 4rem 7rem 4rem 3rem;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 2px;
}

.body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
}